*.pyc
*.py
*.save
*.save
*.save*
*.swp
btn/info.py
btn/info.pyc
btn/*.pyc
btn/*.py
btn/*.save
btn/*.save*
btn/*.save
btn/*.swp
btn/*.save
bitnat/*.swp
bitnat/*.pyc
bitnat/*.save
bitnat/*.save*
localsettings.py
