{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Marketing digital para empresas sustentables" %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}marketing, digital, empresa, sustentable {% endblock meta-keywords %}" />
       {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{% static 'images/icon.ico' %}" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'css/print.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119139710-1"></script>
   <script>
 	 window.dataLayer = window.dataLayer || [];
 	 function gtag(){dataLayer.push(arguments);}
 	 gtag('js', new Date());

 	 gtag('config', 'UA-119139710-1');	
    </script>



    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
 </head>
  <body class="zinnia {% block theme-class %}default{% endblock theme-class %} {% block color-class %}blue{% endblock color-class %} {% block sidebar-class %}right-sidebar{% endblock sidebar-class %} {% block body-class %}{% endblock body-class %}">
    <div class="container">
      <header id="header" role="banner">
        <div class="fondo">
            <div>
            <ul class="buscar">
                <li><a><i class="fa fa-search"></i></a>
                    <ul class="bus">
                        <li>
                            <form method="get" action="{% url 'zinnia:entry_search' %}">
                              <p>
                                  <input type="text" name="pattern"  placeholder="Buscar entradas..."{% if pattern %}value="{{ pattern }}"{% endif %} />
                                  <input type="submit" class="submitbutton" value="OK" />
                              </p>
                            </form>
                        </li>
                    </ul>
               </li>
            </ul>
           </div>
            <div class="marca">
                <h2><a href="{% url 'zinnia:entry_archive_index' %}" title="Zinnia's Weblog" rel="home">BlogNativo</a></h2>
            </div>
            <div>
             <ul class="top-navigation">
    <!--
                <li>
                  <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap" rel="sitemap">
                    {% trans "Sitemap" %}
                  </a>
                </li>
    -->
                <li>
                  <a href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS" %}" class="feeds">
                   <i class="fa fa-rss"></i>
                  </a>
                </li>
              </ul>
            </div>
    </div>
    <div class="te">
        <h1>Marketing y transformación digital empresarial</h1>
    </div>

        {% block breadcrumbs %}{% endblock breadcrumbs %}
      </header>
      {% block slider %}{% endblock slider %}
      <div id="content" class="hfeed" role="main">
        {% block content %}
        <div class="links">
          <h2>{% trans "Links útiles" %}</h2>
          <ul>
            <li>
              <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                {% trans "Weblog index" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                {% trans "Sitemap" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="search">
          <h2>{% trans "Búsqueda" %}</h2>
          {% include "zinnia/tags/search_form.html" %}
        </div>
        {% endblock content %}
      </div>
      <div id="sidebar" role="complementary">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
      <footer id="footer" role="contentinfo">
      </footer>
    </div>
  </body>
</html>

