{% extends "zinnia/base.html" %}
{% load i18n %}

{% block title %}{% trans "Gracias por su comentario" %}{% endblock title %}

{% block body-class %}comment-posted{% endblock body-class %}

{% block content %}
<h2>{% trans "Gracias por su comentario" %}</h2>

<p>{% trans "Su comentario debe ser aprobado antes de mostrarse." %}</p>

<ul>
  {% if comment %}
  <li>
    {% with entry=comment.content_object %}
    <a href="{{ entry.get_absolute_url }}"
       title="{{ entry.title }}">
      {% blocktrans with title=entry.title %}Volver a {{ title }}{% endblocktrans %}
    </a>
    {% endwith %}
  </li>
  {% endif %}
  <li>
    <a href="{% url 'zinnia:entry_archive_index' %}"
       title="{% trans "Retornar a la lista de entradas" %}">
      {% trans "Return to entry list" %}
    </a>
  </li>
</ul>
{% endblock content %}
