{% load i18n %}
<ul class="{% if not categories %}no-{% endif %}categories">
  {% for category in categories %}
  <li{% if category.slug == context_category.slug %} class="current"{% endif %}>
    <a href="{{ category.get_absolute_url }}"
       title="{% blocktrans %}Mostrar todas las entradas en {{ category }}{% endblocktrans %}">{{ category }}</a>
    {% blocktrans count entry_count=category.count_entries_published %}{{ entry_count }} entrada{% plural %}{{ entry_count }} entradas{% endblocktrans %}
  </li>
  {% empty %}
  <li>
    {% trans "No existen categorías." %}
  </li>
  {% endfor %}
</ul>

